.message .nick {
  padding-right: 2px;
  font-size: 16px;
}

.message .timestamp {
  color: #888;
  font-size: 12px;
}

.message .text {
  padding-bottom: 5px;
  padding-right: 10px;
  line-height: 1.1;
}

.message .text.action {
  font-style: italic;
}
