# See http://help.github.com/ignore-files/ for more about ignoring files.

# app
config.toml
.env
apidoc

# node
node_modules
npm-debug.log

# rethinkdb
rethinkdb_data

# logs
**/*.log

# testing
coverage

# production
build

# mac OS
.DS_Store
