#app.is-broken:before {
  content: ' ';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background: #e91e63;
  z-index: 2;
}

#app.is-loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
