:root {
  --color-0: rgba(156, 39, 176, 1);
  --color-1: rgba(3, 169, 244, 1);
  --color-2: rgba(0, 188, 212, 1);
  --color-3: rgba(0, 150, 136, 1);
  --color-4: rgba(233, 30, 99, 1);
  --color-5: rgba(121, 85, 72, 1);
  --color-6: rgba(255, 152, 0, 1);
  --color-7: rgba(205, 220, 57, 1);
  --color-8: rgba(63, 81, 181, 1);
  --color-9: rgba(139, 195, 74, 1);
  --color-10: rgba(255, 87, 34, 1);
  --color-11: rgba(255, 193, 7, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-0: rgba(156, 39, 176, .75);
    --color-1: rgba(3, 169, 244, .75);
    --color-2: rgba(0, 188, 212, .75);
    --color-3: rgba(0, 150, 136, .75);
    --color-4: rgba(233, 30, 99, .75);
    --color-5: rgba(121, 85, 72, .75);
    --color-6: rgba(255, 152, 0, .75);
    --color-7: rgba(205, 220, 57, .75);
    --color-8: rgba(63, 81, 181, .75);
    --color-9: rgba(139, 195, 74, .75);
    --color-10: rgba(255, 87, 34, .75);
    --color-11: rgba(255, 193, 7, .75);
  }
}
