:root {
  --colorBackground: #ffffff;
  --colorWeak: #777777;
  --colorNormal: #555555;
  --colorStrong: #333333;
  --colorLink: #0074d9;
  --colorBorder: #cacaca;
  --colorDisabled: #aaaaaa;
  --colorError: #e91e63;
  --colorActive: #fffbd0;
  --colorShadow: rgba(0, 0, 0, 0.5);
  --colorHighlightBackground: #ffdc00;
  --colorHighlightForeground: #555555;

  --nickColor0: #9c27b0;
  --nickColor1: #03a9f4;
  --nickColor2: #00bcd4;
  --nickColor3: #006b76;
  --nickColor4: #e91e63;
  --nickColor5: #795548;
  --nickColor6: #ff9800;
  --nickColor7: #40bf80;
  --nickColor8: #3f51b5;
  --nickColor9: #8bc34a;
  --nickColor10: #ff5722;
  --nickColor11: #ffc107;

  --textColor0: #000000;
  --textColor1: #ffffff;
  --textColor2: #3f51b5;
  --textColor3: #8bc34a;
  --textColor4: #e91e63;
  --textColor5: #795548;
  --textColor6: #9c27b0;
  --textColor7: #ff9800;
  --textColor8: #ffc107;
  --textColor9: #cddc39;
  --textColor10: #009688;
  --textColor11: #00bcd4;
  --textColor12: #03a9f4;
  --textColor13: #ff5722;
  --textColor14: #aaaaaa;
  --textColor15: #dddddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorBackground: #141414;
    --colorWeak: #9e9e9e;
    --colorNormal: #c9c9c9;
    --colorStrong: #d9d9d9;
    --colorBorder: #545358;
    --colorDisabled: #444444;
    --colorActive: #282828;
    --colorShadow: rgba(0, 0, 0, 0);
    --colorHighlightBackground: #e9ca00;
    --colorHighlightForeground: #141414;

    --nickColor0: #821b93;
    --nickColor1: #007cb3;
    --nickColor2: #009aaf;
    --nickColor3: #006f65;
    --nickColor4: #ac164a;
    --nickColor5: #7a5547;
    --nickColor6: #bb7200;
    --nickColor7: #3cae75;
    --nickColor8: #3e4eb8;
    --nickColor9: #729d3f;
    --nickColor10: #c64510;
    --nickColor11: #d19f00;
  }
}
