.loader-tall {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader {
  margin: 15px auto;
}

.loader-inner {
  text-align: center;
}

.loader-inner > div {
  background: var(--colorBorder) !important;
}
