.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

.foreground-0 { color: var(--textColor0); }
.background-0 { background: var(--textColor0); }

.foreground-1 { color: var(--textColor1); }
.background-1 { background: var(--textColor1); }

.foreground-2 { color: var(--textColor2); }
.background-2 { background: var(--textColor2); }

.foreground-3 { color: var(--textColor3); }
.background-3 { background: var(--textColor3); }

.foreground-4 { color: var(--textColor4); }
.background-4 { background: var(--textColor4); }

.foreground-5 { color: var(--textColor5); }
.background-5 { background: var(--textColor5); }

.foreground-6 { color: var(--textColor6); }
.background-6 { background: var(--textColor6); }

.foreground-7 { color: var(--textColor7); }
.background-7 { background: var(--textColor7); }

.foreground-8 { color: var(--textColor8); }
.background-8 { background: var(--textColor8); }

.foreground-9 { color: var(--textColor9); }
.background-9 { background: var(--textColor9); }

.foreground-10 { color: var(--textColor10); }
.background-10 { background: var(--textColor10); }

.foreground-11 { color: var(--textColor11); }
.background-11 { background: var(--textColor11); }

.foreground-12 { color: var(--textColor12); }
.background-12 { background: var(--textColor12); }

.foreground-13 { color: var(--textColor13); }
.background-13 { background: var(--textColor13); }

.foreground-14 { color: var(--textColor14); }
.background-14 { background: var(--textColor14); }

.foreground-15 { color: var(--textColor15); }
.background-15 { background: var(--textColor15); }

.highlight {
  border-radius: 3px;
  padding: 1px 2px;
  margin: auto 1px;
  background: var(--colorHighlightBackground);
  color: var(--colorHighlightForeground);
  box-shadow: 0 0 3px var(--colorShadow);
}
