#users {
  padding-left: 10px;
  padding-right: 10px;
}

#users h3 {
  line-height: 2.5;
  margin-bottom: -10px;
}

#users ol {
  list-style: none;
  padding: 0;
}

#users .nick {
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#users .prefix {
  font-size: 14px;
}
