* {
  box-sizing: border-box;
}

html body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.channel {
  margin: 0 20px;
}

.channel header {
  height: 10vh;
  max-width: 960px;
}

.channel .name {
  line-height: .5;
}

.channel .messages-wrapper {
  height: 85vh;
  max-width: 960px;
  overflow: hidden;
  position: relative;
  left: -20px;
}

.channel .messages {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 20px;
}

.message.is-first {
  padding-top: 10px;
}

.message .nick {
  font-weight: bold;
  padding-right: 10px;
}

.message .text {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
  word-break: break-all;
}
.message.is-consecutive .text {
  padding-top: 0;
}
