@import url('https://fonts.googleapis.com/css?family=Lato:700|Fira+Sans');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  color: #444;
}

.bold {
  font-family: Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  color: #111;
}

a {
  color: #0074D9;
  text-decoration: none;
}

#front {
  margin: 0 20px;
}

#channel {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#channel > .header {
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

#channel > .header .name {
  line-height: .5;
}

#channel > .header .topic {
  line-height: 1.2;
}

#channel .messages-wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow-y: scroll;
}

#channel .messages {
  padding: 20px;
  padding-bottom: 30px;
  margin: auto 0;
  width: 100%;
}

#channel .messages .day > .header {
  padding: 30px 0;
  text-align: center;
}
#channel .messages .day > .header .text {
  display: inline-block;
  background: white;
  color: #444;
  padding: 0 10px;
}

#channel .messages .day > .header .divider {
  height: 1px;
  background: #ddd;
  position: relative;
  bottom: 8px;
  z-index: -1;
}

.message .nick {
  padding-right: 5px;
  font-size: 16px;
}

.message .timestamp {
  color: #888;
  font-size: 12px;
}

.message .text {
  padding-bottom: 5px;
  padding-right: 40px;
  word-break: break-all;
  line-height: 1.1;
}

.message.is-first {
  padding-top: 5px;
}
.message.is-not-first .text {
  padding-top: 0;
}
