@import url('https://fonts.googleapis.com/css?family=Lato:700|Noto+Sans');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  color: #444;
}

.bold {
  font-family: Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  color: #111;
}

#front {
  margin: 0 20px;
}

#channel {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#channel .header {
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
}

#channel .header .name {
  line-height: .5;
}

#channel .messages-wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow-y: scroll;
}

#channel .messages {
  padding: 20px;
  padding-bottom: 30px;
  margin: auto 0;
}

.message .nick {
  padding-right: 10px;
  font-size: 16px;
}

.message .timestamp {
  color: #888;
  font-size: 12px;
}

.message .text {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 40px;
  word-break: break-all;
  line-height: 1.1;
}

.message.is-first {
  padding-top: 10px;
}
.message.is-not-first .text {
  padding-top: 0;
}
