@import url('https://fonts.googleapis.com/css?family=Lato:700|Fira+Sans');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  color: #555;
  word-break: break-all;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bold {
  font-family: Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
  color: #333;
}

a {
  color: #0074D9;
  text-decoration: none;
}

.notification-bar {
  background: rgba(0, 0, 0, .9) !important;
}
.notification-bar-action {
  color: white !important;
}
