#channel {
  height: 100vh;
}

#channel .content, #channel .sidebar {
  transition: right .25s ease-in;
  height: 100%;
}

#channel .content {
  overflow-y: hidden;
}
#channel .sidebar {
  overflow-y: scroll;
}

#channel .sidebar {
  width: 160px;
  border-left: 1px solid #cacaca;
}

#channel .content {
  display: flex;
  flex-direction: column;
}

#channel .header {
  padding: 0 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cacaca;
}

#channel .header .hamburger-icon {
  display: none;
  position: absolute;
  right: -12px;
  top: -8px;
  transform: scale(.6);
}
#channel .header .hamburger-icon:hover {
  opacity: 1;
}

#channel .header .search-icon {
  position: absolute;
  right: 45px;
  top: 10px;
  width: 20px;
  cursor: pointer;
}

#channel .header .name {
  display: inline-block;
  line-height: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

#channel .header .user-count {
  position: relative;
  bottom: 2px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 11px;
}

#channel .header .topic {
  margin: 0;
  margin-bottom: 5px;
  line-height: 1.2;
  font-size: 14px;
  cursor: pointer;
}

#channel .header .topic.is-topic-clipped > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#channel .scroll-icon {
  position: fixed;
  bottom: 0;
  right: 160px;
  width: 64px;
  height: 64px;
  opacity: .4;
  cursor: pointer;
  transition: right .25s ease-in;
}

@media screen and (max-width: 666px) {
  #channel .header .hamburger-icon {
    display: block;
  }

  #channel .content {
    z-index: 1;
    position: relative;
    top: 0;
    right: 0;
    background: white;
    min-height: 100vh;
  }
  #channel.is-sidebar-open .content {
    right: 160px;
  }

  #channel.is-sidebar-closed .content .scroll-icon {
    right: 0;
  }

  #channel .sidebar {
    position: fixed;
    top: 0;
    right: -160px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
  }
  #channel.is-sidebar-open .sidebar {
    right: 0;
  }
}

@media screen and (min-width: 667px) {
  #channel {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
  }

  #channel .content {
    flex: 1;
  }

  #channel .sidebar {
    flex: 0 0 160px;
  }

  #channel .header .search-icon {
    right: 172px;
  }
}
