#front {
  padding: 0 10px;
}

#front .octocat {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
}

#front h1 {
  color: #333;
  display: inline;
  line-height: 2;
}

#front .channel a {
  display: inline-block;
  font-size: 24px;
  line-height: 2;
  cursor: pointer;
}
