.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

.foreground-0 { color: white; }
.background-0 { background: white; }

.foreground-1 { color: black; }
.background-1 { background: black; }

.foreground-2 { color: #001F3F; }
.background-2 { background: #001F3F; }

.foreground-3 { color: #2ECC40; }
.background-3 { background: #2ECC40; }

.foreground-4 { color: #FF4136; }
.background-4 { background: #FF4136; }

.foreground-5 { color: #85144B; }
.background-5 { background: #85144B; }

.foreground-6 { color: #B10DC9; }
.background-6 { background: #B10DC9; }

.foreground-7 { color: #FF851B; }
.background-7 { background: #FF851B; }

.foreground-8 { color: #FFDC00; }
.background-8 { background: #FFDC00; }

.foreground-9 { color: #01FF70; }
.background-9 { background: #01FF70; }

.foreground-10 { color: #39CCCC; }
.background-10 { background: #39CCCC; }

.foreground-11 { color: #7FDBFF; }
.background-11 { background: #7FDBFF; }

.foreground-12 { color: #0074D9; }
.background-12 { background: #0074D9; }

.foreground-13 { color: #F012BE; }
.background-13 { background: #F012BE; }

.foreground-14 { color: #AAAAAA; }
.background-14 { background: #AAAAAA; }

.foreground-15 { color: #DDDDDD; }
.background-15 { background: #DDDDDD; }

.highlight {
  border-radius: 2px;
  background-color: #FFDC00;
  padding: 1px 2px;
  margin: -1px -2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
