.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

.foreground-0 { color: white; }
.background-0 { background: white; }

.foreground-1 { color: black; }
.background-1 { background: black; }

.foreground-2 { color: #3f51b5; }
.background-2 { background: #3f51b5; }

.foreground-3 { color: #8bc34a; }
.background-3 { background: #8bc34a; }

.foreground-4 { color: #e91e63; }
.background-4 { background: #e91e63; }

.foreground-5 { color: #795548; }
.background-5 { background: #795548; }

.foreground-6 { color: #9c27b0; }
.background-6 { background: #9c27b0; }

.foreground-7 { color: #ff9800; }
.background-7 { background: #ff9800; }

.foreground-8 { color: #ffc107; }
.background-8 { background: #ffc107; }

.foreground-9 { color: #cddc39; }
.background-9 { background: #cddc39; }

.foreground-10 { color: #009688; }
.background-10 { background: #009688; }

.foreground-11 { color: #00bcd4; }
.background-11 { background: #00bcd4; }

.foreground-12 { color: #03a9f4; }
.background-12 { background: #03a9f4; }

.foreground-13 { color: #ff5722; }
.background-13 { background: #ff5722; }

.foreground-14 { color: #aaaaaa; }
.background-14 { background: #aaaaaa; }

.foreground-15 { color: #dddddd; }
.background-15 { background: #dddddd; }

.highlight {
  border-radius: 2px;
  background-color: #ffdc00;
  padding: 1px 2px;
  margin: auto 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
